.cart-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  button {
    width: 5rem;

    &:last-of-type {
      margin-left: 0.5rem;
    }
  }
  h4 {
    font-size: 2.5rem;
    text-align: end;
  }
}

.cart-item-image {
  flex: 0 1 20rem;
  img {
    width: 100%;
  }
}

.cart-text {
  flex: 1 0 30rem;
  margin-left: 3rem;
  h3 {
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 0;
  }
}
