.item-page {
  display: flex !important;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 5rem 0;
}

.slider {
  max-width: 45rem !important;
  height: 60rem;
}

.slider-container {
  flex: 1 1 50rem !important;
  margin-left: 3rem;
}

.item-page-description {
  flex: 1 1 60rem;
  line-height: 1.4;
  h2 {
    font-size: 3rem;
    padding: 2rem 0;
  }
  ul {
    margin-left: 2rem;
    padding: 2rem 0;
  }
  li {
    padding: 0.5rem 0;
    font-size: 1.6rem;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    padding: 0.5rem 0;
    width: 4rem;
    margin: 0 0.5rem 0 0.5rem;
    text-align: end;
    font-size: 2rem;
  }
}
.plus-minus-buttons {
  padding: 0.8rem;
  width: 2.5rem;
  font-size: 2rem;
  border: none;
}

.add-basket-button {
  padding: 0.5rem;
  font-size: 2rem;
  width: 15rem;
  background-color: black;
  border: none;
  color: white;
  margin-left: 1rem;
}

.slider-container-images img {
  width: 80%;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
