.nav {
  h1 {
    font-size: 4rem;
    text-align: center;
    padding: 0.5rem 0;
  }
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 1rem;
  }
  li {
    font-size: 2rem;
  }
  a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
    font-weight: 700;
    &:hover {
      transform: scale(1.1);
      text-decoration: underline;
    }
  }

  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.3);
  background-color: #eee;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.nav-cart {
  font-size: 3rem;
  position: relative;
}

.nav-basket-count {
  position: absolute;
  top: -2rem;
  right: -1rem;
  padding: 0rem;
  background-color: white;
  border-radius: 50%;
}
