.nav {
  h1 {
    font-size: 4.5rem;
    text-align: center;
    padding: 0.5rem 0;
  }
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 1rem;
  }
  li {
    font-size: 2rem;
  }
  a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
    font-weight: 700;
    &:hover {
      transform: scale(1.1);
      text-decoration: underline;
    }
  }
  background-color: #351f39;
  color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.nav-cart {
  position: relative;
}

.nav-basket-count {
  position: absolute;
  top: -1.5rem;
  right: -1.2rem;
}

.basket-icon {
  font-size: 2.5rem;
}
