.shop-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.shop-item {
  height: 30rem;
  width: 35rem;
  margin: 2rem 3rem;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: black;
}

.shop-item-image {
  display: flex;
  justify-content: center;
  padding: 1rem;
  img {
    width: auto;
    height: 20rem;
  }
}

.header {
  background-color: #eee;
  padding: 1rem;
  line-height: 1.4;
  h2 {
    font-size: 4rem;
    text-align: center;
  }
  h2,
  p {
    width: 70%;
    margin: 0 auto;
  }
}
