@import './styles/_nav.scss';
@import './styles/_landing.scss';
@import './styles/shop-page.scss';
@import './styles/itempage.scss';
@import './styles/cart.scss';
@import './styles/mediaqueries.scss';

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 1.6rem;
}
