@import './styles/_nav.scss';

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.cart-item img {
  height: 5rem;
}

.shop-item {
  height: 30rem;
  width: 30rem;
  font-size: 1.6rem;
}

.shop-item img {
  width: 90%;
  max-height: 80%;
}

p {
  font-size: 1.6rem;
}

.container {
  margin: 1rem auto;
  width: 40%;
  img {
    width: 100%;
    height: auto;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
