@import './styles/_nav.scss';
@import './styles/_landing.scss';
@import './styles/shop-page.scss';
@import './styles/itempage.scss';
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 2rem;
}

.container {
  margin: 1rem auto;
  width: 40%;
  img {
    width: 100%;
    height: auto;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
